<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My website</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/brands.min.css" integrity="sha512-9YHSK59/rjvhtDcY/b+4rdnl0V4LPDWdkKceBl8ZLF5TB6745ml1AfluEU6dFWqwDw9lPvnauxFgpKvJqp7jiQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
<script src="https://kit.fontawesome.com/e6ff2956e2.js" crossorigin="anonymous"></script>
</head>
<body>

    <!-- navigation bar -->

  <nav>
    
    <div class="navbar">
        <a href="#" class="logo">W<B>_W.</b></a>

    
        <ul>
           
            <li><a id = "nav_home" href="/">home</a></li>
            <li><a id = "nav_services" href="/services">services</a></li>
            <li><a id = "nav_contact" href="/contact">contact</a></li>
            <li><a id = "nav_Login" href="/login">Login</a></li>
           

        </ul>

    </div>
    
  </nav>


<main>
  <section class="home">
    <div class="bannertext">
      <h1>WELCOME to <b>Waterloo</b> Workshop</h1>
      <p class="tagline1">One stop stop for all car enthusiasts</p>
    </div>

    <div class="bannerback">

    </div>



  </section>


</main>

<div class="services">
  
  <h1 class="services_heading"> What We Provide </h1>
  



  <div class="services_container">
    <div class="service_item">
      <h3>UNMATCHED RETROSPEC</h3>
      <img src="images/workshop1.jpg" alt="workshop1">
      
      <p>Our garage offers ample space for your car and all the equipment you need, from specialized tools to lifts and sandblasters. Plus, our garage is well-lit, ventilated, and comes with plenty of storage space for all your parts and supplies. With our garage, you'll have everything you need to keep your classic car running smoothly and looking its best.</p>
    </div>
    <div class="service_item">
      <h3>Performance Tuning</h3>
      <img src="images/workshop2.jpg" alt="workshop2">
      
      <p>From a V4 to a V12 we can tune anything anywhere!, Our experienced mechanics specialize in optimizing engines and other components to increase horsepower, torque, and acceleration. We use only the highest quality parts and equipment to ensure that your vehicle is running at peak performance</p>
    </div>
    <div class="service_item">
      <h3>RACING</h3>
      <img src="images/workshop3.jpg" alt="workshop3">
      
      <p>If your heart takes you racing, we can help you develop the passion and enthusiasm in a full step by step course to take you to your first racetrack</p>
    </div>

  </div>

</div>


<section class="engineers">

  <h1 class="engineers_heading">
    Meet Our Engineers
  </h1>
  <div class="engineers_container">
    <div class="engineers_item">
      <img src="https://www.formulanerds.com/wp-content/uploads/2023/02/Adrian-Newey-in-the-Formula-1-paddock-in-2022-888x595.jpeg" alt="engineer2">
      <h3>Adrian Newey</h3>
      <p>Do u even Design Bro?  </p>
      <p>RED BULL LEGEND</p>
      
      
    </div>
    <div class="engineers_item">
      <img src="https://64.media.tumblr.com/571bd8d2e72c4f2ddf300c04056774ec/9fc7328cbb166884-f4/s1280x1920/d85ed20d7403ca63c034bfd33e6db7f835915dc2.png" alt="engineer1">
      <h3>Bono</h3>
      <p>Lewis the tires are gone </p>
      <p>MERCEDES ENGINEER</p>
    </div>
    <div class="engineers_item">
      <img src="https://www.nzherald.co.nz/resizer/x5Nzm7Wf9uQtBGv9-cY6Y7fA3l0=/576x384/smart/filters:quality(70)/cloudfront-ap-southeast-2.images.arcpublishing.com/nzme/AOJSBHSA7CTPAVSACWY3ZTYONI.jpg" alt="engineer1">
      <h3>Mr Bean</h3>
      <p>teddy teddy teddy teddy</p>
      
    </div>
  </div>
</section>



<section class = "getInTouch">

  <h1 class="contact_heading">
    Get In Touch 
  </h1>

  <div class="contact_container">
    <div class="contact_item">
      <h2>We would love to share our expertise</h2>
      <p>We are orchestrated to adhere to your needs. Enter your details and we will get back to you</p>
    </div>
    <div class="contact_item">

      <div class="contact_form">
        <form action="#" method="post">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required>
        
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
        
          <label for="phone">Phone number:</label>
          <input type="tel" id="phone" name="phone" required>
      
          
        
          <button type="submit">Submit</button>
        </form>
        
      </div>
      
    </div>
  </div>


</section>


<section class="footer">
  <footer>
  <div class="footer_container">
    
      <div class="footer_item ">
        <p id="footer_logo">W<b>_W</b></p>
      </div>
      <div class="footer_item">
        <p>&copy; 2023 Waterloo Workshop Inc.</p>
        
      </div>
      <div class="footer_item">
        <img src="images/instagram.svg" alt="instagram">
        <img src="images/twitter.svg" alt="twitter">
        <img src="images/facebook.svg" alt="facebook">
        <img src="images/youtube.svg" alt="youtube">

        
      </div>
      

    </footer>
    
  </div>
</section> 


    

</body>

</html>