<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My website</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/brands.min.css" integrity="sha512-9YHSK59/rjvhtDcY/b+4rdnl0V4LPDWdkKceBl8ZLF5TB6745ml1AfluEU6dFWqwDw9lPvnauxFgpKvJqp7jiQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
<script src="https://kit.fontawesome.com/e6ff2956e2.js" crossorigin="anonymous"></script>
</head>
<body>

    <!-- navigation bar -->

  <nav>
    
    <div class="navbar">
        <a href="#" class="logo">W<B>_W.</b></a>

    
        <ul>
           
            <li><a href="/">home</a></li>
            <li><a href="/services">services</a></li>
            <li><a href="/contact">contact</a></li>
            <li><a href="/login">Login</a></li>
           

        </ul>

    </div>
    
  </nav>

  <main>

    

    <div class="login-section">

        <div class="login-container">
            
            
            <form action="/restoration-login" method="post">
                
                <h3 class = "login-heading">Book you RESTORATION today!</h3>
              <label class="login-label"for="username">Username:</label>
              <input class="login-input" type="text" id="username" name="username" required>
        
              <label for="password">Password:</label>
              <input class="login-input" type="password" id="password" name="password" required>
        
              <button class = "login-button" type="submit">Login</button>
            </form>
        
            <div class="register-link">
              Not a member? <a href="/register">Register now</a>
            </div>
          </div>
    
    </div>

   






  </main>

  <section class="footer">
    <footer>
    <div class="footer_container">
      
        <div class="footer_item ">
          <p id="footer_logo">W<b>_W</b></p>
        </div>
        <div class="footer_item">
          <p>&copy; 2023 Waterloo Workshop Inc.</p>
          
        </div>
        <div class="footer_item">
          <img src="images/instagram.svg" alt="instagram">
          <img src="images/twitter.svg" alt="twitter">
          <img src="images/facebook.svg" alt="facebook">
          <img src="images/youtube.svg" alt="youtube">
  
          
        </div>
        
  
      </footer>
      
    </div>
  </section> 

    
</body>  

</html>