<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restoration Booking</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/brands.min.css" integrity="sha512-9YHSK59/rjvhtDcY/b+4rdnl0V4LPDWdkKceBl8ZLF5TB6745ml1AfluEU6dFWqwDw9lPvnauxFgpKvJqp7jiQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
<script src="https://kit.fontawesome.com/e6ff2956e2.js" crossorigin="anonymous"></script>
</head>
<body>

    <nav>
    
        <div class="navbar">
            <a href="#" class="logo">W<B>_W.</b></a>
    
        
            <ul>
               
                <li><a href="/">home</a></li>
                <li><a href="/services">services</a></li>
                <li><a href="/contact">contact</a></li>
                <li><a href="/login">Login</a></li>
               
    
            </ul>
    
        </div>
        
      </nav>
    <h1 class="contact_heading">Service your car today!</h1>
    <div class="contact_container">
        <div class="contact_item">
          <h2>Regular service keeps trouble at bay</h2>
          <p>Breate a new life into your car </p>
          <p>Fill out the form and we will have our team reach out to you</p>
        </div>
        <div class="contact_item">
    
          <div class="contact_form">
            <form action="/restorationForm" method="post">
              <label for="name">Name:</label>
              <input type="text" id="name" name="name" required>
            
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" required>
            
              <label for="phone">Phone number:</label>
              <input type="tel" id="phone" name="phone" required>

              <label for="carBrand">Enter your car brand:</label>
              <input type="text" id="carBrand" name="brand" required>

              <label for="manufactureDate">Select manufacturing date:</label>
              <input type="date" id="manufactureDate" name="manufactureDate" required>



          
              
            
              <button type="submit">Submit</button>
            </form>
            
          </div>
          
        </div>
    </div>
    <section class="footer">
        <footer>
        <div class="footer_container">
          
            <div class="footer_item ">
              <p id="footer_logo">W<b>_W</b></p>
            </div>
            <div class="footer_item">
              <p>&copy; 2023 Waterloo Workshop Inc.</p>
              
            </div>
            <div class="footer_item">
              <img src="images/instagram.svg" alt="instagram">
              <img src="images/twitter.svg" alt="twitter">
              <img src="images/facebook.svg" alt="facebook">
              <img src="images/youtube.svg" alt="youtube">
      
              
            </div>
            
      
          </footer>
          
        </div>
      </section> 
    
</body>
</html>