<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/brands.min.css" integrity="sha512-9YHSK59/rjvhtDcY/b+4rdnl0V4LPDWdkKceBl8ZLF5TB6745ml1AfluEU6dFWqwDw9lPvnauxFgpKvJqp7jiQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
<script src="https://kit.fontawesome.com/e6ff2956e2.js" crossorigin="anonymous"></script>
</head>
<body>

    <nav>
    
        <div class="navbar">
            <a href="#" class="logo">W<B>_W.</b></a>
    
        
            <ul>
               
                <li><a href="/">home</a></li>
                <li><a href="/services">services</a></li>
                <li><a href="/contact">contact</a></li>
                <li><a href="/login">Login</a></li>
               
    
            </ul>
    
        </div>
        
      </nav>

      <div class="services_heading">

        <h3>Our Services</h3>
      </div>


    <div class="services_page_container">
        <div class="service_page_item">
          <h2>Car restoration</h2>
          <img  src="/images/retro1.jpg" class = "service_page_card_img" alt="workshop1">
          
      <ul>
        <li>Comprehensive restoration services</li>
        <li>Quality craftsmanship</li>
        <li>Enhance the beauty of your classic car</li>
      </ul>
      
      <a href="/restoration-login" class = "buttonLink">Book Now</a>
        </div>

        <div class="service_page_item">
          <h2>Performance Tuning</h2>
          <img src="/images/pexels-cottonbro-studio-4488651.jpg" class = "service_page_card_img" alt="workshop2">
          
          <ul>
            <li>Professional tuning for optimum performance</li>
            <li>Improve power and fuel efficiency</li>
            <li>Enhance the overall driving experience</li>
          </ul>
          
          <a href="/performance-login" class = "buttonLink">Book Now</a>
        </div>
        <div class="service_page_item">
          <h2>Regular service</h2>
          <img src="/images/pexels-cottonbro-studio-4489737.jpg" class = "service_page_card_img" alt="workshop3">

           <ul>
            <li>Routine maintenance for all car models</li>
            <li>Ensure the longevity of your vehicle</li>
            <li>Keep your car running smoothly</li>
          </ul>
          <a href="/service-login" class = "buttonLink">Book Now</a>
        </div>
    
      </div>
    
    </div>


    <section class="footer">
        <footer>
        <div class="footer_container">
          
            <div class="footer_item ">
              <p id="footer_logo">W<b>_W</b></p>
            </div>
            <div class="footer_item">
              <p>&copy; 2023 Waterloo Workshop Inc.</p>
              
            </div>
            <div class="footer_item">
              <img src="images/instagram.svg" alt="instagram">
              <img src="images/twitter.svg" alt="twitter">
              <img src="images/facebook.svg" alt="facebook">
              <img src="images/youtube.svg" alt="youtube">
      
              
            </div>
            
      
          </footer>
          
        </div>
      </section> 
</body>